<!DOCTYPE html SYSTEM
        "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/fragments :: head}"></head>


<body>

<div class="m-2">
  <a th:href="@{/showNewDrinkForm}" class="btn btn-primary btn-sm mb-3">Add new drink</a>
</div>

<!--send a flash message-->
<div th:if="${message}" th:class="'alert alert-' + ${color} + ' text-center'">
  [[${message}]]
</div>

  <table border="1" class="table table-striped table-responsive">
    <thead>
      <tr>
        <th>Name</th>
        <th>Company</th>
        <th>Type</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="drink : ${drinks}">
        <td th:text="${drink.name}"></td>
        <td th:text="${drink.company}"></td>
        <td th:text="${drink.type}"></td>
        <td>
          <a class="h4 btn btn-primary mr-3" th:href="@{'/updateDrink/' + ${drink.id}}">Edit</a>
          <a th:onclick="return confirm('are you sure you want to delete?')" class="h4 btn btn-danger" th:href="@{'/deleteDrink/' + ${drink.id}}">Delete</a>
        </td>
      </tr>
    </tbody>
  </table>
</body>
</html>